@using SecretSanta.Domain.Models
@model IList<SantaUser>

@{
    ViewBag.Title = $"{Resources.Global.SiteName} - {Resources.Global.AdminUnconfirmed}";
    ViewBag.NoDataMessage = Resources.Global.NothingToConfirm;
}

<h2>@Resources.Global.AdminUnconfirmed</h2>

@Html.Partial("_UserTable", Model)