@using SecretSanta.Domain.Models
@model SecretSanta.Common.Result.AssignmentResult

@{
    ViewBag.Title = $"{Resources.Global.SiteName} - {Resources.Global.AssignmentCompleted}";
}


<h2>@Resources.Global.AssignmentCompleted</h2>

@Html.Partial("_AssignmentResult", Model)