@{
    ViewBag.Title = $"{Resources.Global.SiteName} - {Resources.Global.InitialSetup}";
}

<h2>@Resources.Global.InitialSetup</h2>

<div class="alert alert-success">
    <p>Setup activities performed succesfully. Remember to change the default password immediately after login.</p>
</div>