@model SecretSanta.Domain.Models.SantaUser

@{
    ViewBag.Title = $"{Resources.Global.SiteName} - {Resources.Global.Confirmation}";
}

<h2>@Resources.Global.Confirmation</h2>

<p>TODO: add something here. But it seems ok.</p>
