@model string

@{
    ViewBag.Title = $"{Resources.Global.SiteName} - {Resources.Global.Confirmation}";
}

<h2>@Resources.Global.Confirmation</h2>

<p>@Resources.Global.ConfirmationEmailSent: <span class="text-info">@Model</span></p>
