<?xml version="1.0"?>
<appSettings>
  <add key="santa.dataprotection.encryptionkey" value="efRREqL4QmgmYbiBic6r67LlbGLwG1PBFXER26Ecdnezh8jhkCqcdalhc884GJTuHBnjT2X76jxws5gwnnAyv08Zgun7iGQFTPHnNa49AZ2kO0pFab1OIU7kf9mwT2lQQ2kgaTfoCZRkaUAdCgZGEG0XiHsOJGT1KWTURoRCBb7WQd9u00rK0sQCGNuvgrV2V90qOzKtt70KIZYoWxP9T8WnCTZ6p3KQs5yfHWV4WKaLZAOuaDcJLpmwePT7Hf6C" />
  <add key="santa.encryption.hashSecret" value="wdqpUy01BFgrrQDFDRZf6blPgurf6jmu8OvwAnQ30qASTRtmZrpN3s5fGYuH7oJld5uo8tQnBgAiHC6gRVCpM5lIWGZzyFU7zPlGFFwMCXfNQy31DWb7jFQ6WkDqZsbqj1EG0zwZ1CeU7K5nObkngdDUcIXpkEkbJlEJshe2ezpxnRPY9nrLQDixQ3XEq5Giihg4HIynuFJ3zka77cpoK3L8WgWhnvP6a5M53YXjzMLlFwlvafp9Fd4T0nTGM6qy" />
  <add key="santa.dev.devmode" value="True"/>
  <add key="santa.dev.generate_test_data" value="True"/>
  <add key="santa.ui.default_country" value="pl"/>
  <add key="santa.ui.culture" value="pl"/>
</appSettings>
