<?xml version='1.0' encoding='utf-8'?>
<appSettings>
    <!-- System -->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AppStartup" value="SecretSanta.Startup,SecretSanta" />

    <!-- App -->
    <add key="santa.dataprotection.encryptionkey" value="" />
    <add key="santa.encryption.hashSecret" value="" />
        <add key="santa.dev.devmode" value="true" />
    <add key="santa.dev.generate_test_data" value="true" />
    <add key="santa.ui.default_country" value="pl" />
    <add key="santa.ui.culture" value="pl" />
    <add key="santa.encryption.sat.secret" value="" />
    <add key="santa.email.use_mailgun" value="false" />
    <!-- <add key="santa.email.mailgun_domain" value="" /> -->
    <!-- <add key="santa.email.mailgun_apikey" value="" /> -->
    <!-- <add key="santa.email.mailgun_from" value="" /> -->
    <add key="santa.email.admin_email" value="TODO" />

</appSettings>  
  

