<?xml version="1.0"?>
<connectionStrings>
  <add name="SantaDB" connectionString="Server=PROMETHEUS\MSSQL17;Initial Catalog=SantaDB;Persist Security Info=False;User ID=SantaAppUser;Password=f_vhNKGuk!GT6ZCA9nR+%gPjM?FC7SwwD!0Pb8yUqG!X2H8-oDaqBw-dyUI06#mu;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;" />
  <!--<add name="SantaDB" connectionString="Server=tcp:gerinoapps.database.windows.net,1433;Initial Catalog=SantaDB;Persist Security Info=False;User ID=SantaAppUser;Password=f_vhNKGuk!GT6ZCA9nR+%gPjM?FC7SwwD!0Pb8yUqG!X2H8-oDaqBw-dyUI06#mu;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->
</connectionStrings>
