<?xml version='1.0' encoding='utf-8'?>
<connectionStrings>
    <clear />
    <add name="SantaDB" providerName="System.Data.ProviderName" connectionString="Server=tcp:santasql.database.windows.net,1433;Initial Catalog=SantaDB_dev;Persist Security Info=False;User ID=SantaAppUser_dev;Password=pLOu-RlWW-oc9t-I1uU;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=120;" />
</connectionStrings>  
  