@model System.Collections.Generic.IList<SecretSanta.Domain.Models.SantaUser>

@{
    ViewBag.Title = $"{Resources.Global.SiteName} - {Resources.Global.AdminUser}";
    ViewBag.NoDataMessage = Resources.Global.NoUsers;
}

<h2>@Resources.Global.AdminUser</h2>

<a href="@Url.Action("CreateUser")">@Resources.Global.AdminUser_Create</a>

@Html.Partial("_UserTable", Model)