@model dynamic

@{
    ViewBag.Title = $"{Resources.Global.SiteName} - {Resources.Global.Rules}";
}
<div class="jumbotron">
    <p class="lead legal">@Html.Raw(Resources.Global.Content_Rules)</p>
</div>