@model dynamic

@{
    ViewBag.Title = Resources.Global.SiteName;
}

<div class="jumbotron">
    <h1>@Resources.Global.SiteName</h1>
    <p class="lead legal">@Html.Raw(Resources.Global.Content_Home)</p>
</div>